# .env.example
NODE_ENV=development
DATABASE_URL=postgresql://postgres:password@localhost:5432/wartiket
REDIS_URL=redis://:redispassword@localhost:6379
JWT_SECRET=ganti-ini-dengan-random-string
JWT_EXPIRES_IN=15m
DB_USER=postgres
DB_PASSWORD=password
REDIS_PASSWORD=redispassword